<div style="padding-top: 50px;" class="footer-container">
    <div class="footer-inner">
        <div class="footer-inner-page">
            <div class="footer-blocks">
                <div class="footer-block">
                    <h2 class="footer-title">Wholesale Supply Hub</h2>
                    <ul class="footer-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-block">
                    <h2 class="footer-title">Tools & Resources</h2>
                    <ul class="footer-menu">
                        <li><a href="https://keepa.com/">Keepa</a></li>
                        <li><a href="https://sellercentral.amazon.com/hz/fba/profitabilitycalculator">FBA Calculator</a></li>
                        <li><a href="https://www.comfyship.com/">Prep Center</a></li>
                        
                    </ul>
                </div>
                <div class="footer-block">
                    <h2 class="footer-title">Get in touch</h2>
                    <ul class="footer-menu">
                        <li><a href="/">999 999 999</a></li>
                        <li><a href="/">suresuresure@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-botton-inner">
            <div class="footer-bottom-base">
                <span>
                    © 2024 Wholesale Supply Hub
                </span>
                <a href="">Powered by Wholesale Supply Hub</a>
            </div>
        </div>
    </div>

</div>